.des {
    width: 100%;
    min-height: 80vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #222831;
    font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
    flex-direction: column;
}

.des .func {
    display: flex;
    flex-direction: row;
    justify-content: space-between; 
}

.des h1{
    font-size: 40px;
    font-weight: 700;
    color: white;
    margin-top: 20px;
    margin-bottom: 0;
}

.des h2{
    color: white;
}


.encrypt-controls,
.decrypt-controls {
    display: flex;
    flex-direction: column;
    padding: 60px;
    margin-right: 20px;
}


.encrypt-controls input,
.decrypt-controls input {
    margin-top: 5px;
    width: 300px;
    padding: 5px;
    font-size: 20px; 
}

.encrypt-controls .copyenc textarea,
.decrypt-controls .copydec textarea {
    margin-top: 5px; /* Adjust as needed */
    padding: 5px; /* Adjust as needed */
    font-size: 20px;
}

.encrypt-controls label,
.decrypt-controls label {
    font-size: 30px; /* Increased font size */
    color: #ACE2E1;
    margin-bottom: 50px;
}

/* Optional: Adjust spacing between label and input */

.encrypt-controls,
.decrypt-controls {
    display: flex;
    flex-direction: column;
    margin-right: 20px; /* Adjust as needed for spacing */
}

.encrypt-controls button,
.decrypt-controls button {
    font-size: 20px; /* Increase font size */
    padding: 10px 20px;
    background-color: #ACE2E1; 
    border: none; /* Remove border */
    color: white; /* White text color */
    border-radius: 5px; /* Add border radius for rounded corners */
    cursor: pointer; /* Add pointer cursor on hover */
}

.encrypt-controls button:hover,
.decrypt-controls button:hover {
    background-color: #07090a; 
    transition: 0.3s ease-in;
}


.encrypt-controls input,
.decrypt-controls input,
.encrypt-controls .copyenc textarea,
.decrypt-controls .copydec textarea {
    margin-bottom: 10px;
    padding: 8px;
    width: 300px;
    background-color:#222831;
    color: white;
    font-family: kregularFont;
}

.encrypt-controls .copyenc, .decrypt-controls .copydec{
    display: flex;
    flex-direction: row;
}

.encrypt-controls .copyenc button, .decrypt-controls .copydec button{
    background-color: #222831;
}

/* Responsive Design */
@media only screen and (max-width: 768px) {
    .aes h1 {
        font-size: 30px;
    }

    .aes .func{
        display: flex;
        flex-direction: column;
    }

    .encrypt-controls,
    .decrypt-controls {
        display: flex;
        flex-direction: column; /* Change from row to column */
        align-items: center; /* Center align items */
        padding: 20; /* Remove padding */
        margin-right: 0; /* Remove right margin */
    }
}


