.test {
    width: 100%;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #222831;
    font-family: Arial, sans-serif;
}

.typer {
    font-family: Arial, sans-serif;
    font-size: 30px;
    font-weight: 700;
    color: white;
  }

  .cursor {
    color: white;
    font-size: 30px;
  }

.head {
    width: auto;
    align-items: center;
    text-align: center;
    margin-left: 30px;
    margin-right: 30px;
}
  
.head h1 {
    font-size: 40px;
    font-weight: 700;
    color: white;
    margin-top: 0;
    margin-bottom: 20px;
}

.head h2 {
    font-size: 30px;
    font-weight: 700;
    color: white;
}

.type button {
    color: #ACE2E1;
    border: none;
    border-radius: 0;
    cursor: pointer;
    background-color: #31363F;
    height: 100px;
    width: 500px; /* Adjusted width */
    max-width: 400px; /* Added max-width */
    margin-top: 20px;
    margin-bottom: 20px;
    font-size: 20px;
    font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}

.type button:hover {
    background-color: #07090a;
    transition: 0.3s ease-in;
}

/* Media query for smaller screens */
@media screen and (max-width: 768px) {
    .head {
        margin-left: 15px;
        margin-right: 15px;
    }

    .head h1 {
        font-size: 30px;
    }

    .type button {
        max-width: 100%;
    }
}
